
<%= stylesheet_link_tag params[:time] %>
<body style="background-color: #<%= @colour %> !important; color: #<%= @inverse_colour %>;">
	<h1>Time: <%= @hour %> : <%= @min %> : <%= @sec %> </h1>
	<p>Colour: <%= @colour %></p>
	<p><p>
	<p style="color: #<%= @inverse_colour %>;"><%= link_to "Refresh" %></p>
</body




